body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  overflow: hidden;
}
img {
  width: 100%;
  height: 100vh;
  position: relative;
  filter: brightness(0.5);
}
form,
#clock,
#greeting {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}
#clock {
  top: 30%;
  font-size: 5em;
}
#login-form {
  top: 50%;
}
#login-form > input {
  font-size: 1.2em;
}
#todo-form {
  top: 57%;
}
ul {
  position: absolute;
  top: 59%;
  left: 38%;
  z-index: 1;
  color: white;
}
input {
  width: 250px;
  background-color: transparent;
  border-color: white;
  border-width: 0 0 1.5px 0;

  padding: 0.2em 0 0 0.5em;
}
input::placeholder {
  color: white;
  font-style: italic;
}
input:focus {
  /* outline: none; */
  color: white;
}
#greeting {
  top: 45%;
  font-size: 2em;
}

.hidden {
  display: none;
}
